* text=auto
.gitignore text eol=lf
.gitattributes text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.js text eol=lf
*.json text eol=lf
*.mcmeta text eol=lf
*.snbt text eol=lf
*.toml text eol=lf
*.cfg text eol=lf
*.properties text eol=lf
*.zs text eol=lf
*.mcfunction text eol=lf
*.html text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ogg binary
*.wav binary
*.nbt binary
